version: '3.8'

services:
  api:
    build: .
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://mongo:27017/digischools
    depends_on:
      - mongo
    restart: on-failure

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
